.MuiDataGrid-columnHeaderTitle {
    font-weight: 600;
    font-family: 'Nunito';
}
.MuiTablePagination-selectLabel {
    font-size: 1.4rem;
    font-family: 'Nunito';
    font-weight: 500;
}
.MuiTablePagination-select{
    margin-top: 3px;
    font-family: 'Nunito';
}
.MuiTablePagination-menuItem{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}
.MuiTablePagination-displayedRows{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}
.MuiDataGrid-selectedRowCount{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}
.MuiSvgIcon-root {
    width: 24px;
    height: 24px;
}
.MuiDataGrid-cellContent{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}
.MuiDataGrid-virtualScroller{
    overflow-y: auto;
}
.MuiMenuItem-gutters {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}

.MuiDataGrid-filterFormColumnInput{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}

.MuiInputLabel-formControl{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Nunito';
}

.MuiNativeSelect-select {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}

.MuiInputBase-input {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Nunito';
}

.MuiDataGrid-overlay{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Nunito';
}

.edit-document-button {
    background-color:#ebca14;
    color: #fff;
    margin-left: 1.6rem;
    font-family: 'Nunito';
    padding: 4px 12px;
    border-radius: 4px;
}

.delete-document-button{
    background-color:#CC3D3D;
    color: #fff;
    margin-left: 1.6rem;
    font-family: 'Nunito';
    padding: 4px 12px;
    border-radius: 4px;
}

.edit-document-button:hover,
.delete-document-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.div-custom-manage{
    display: flex;
}

.MuiTablePagination-displayedRows{
    margin-top: 14px;
}

.picture-slider{
    position: relative;
}

/* .control-dots{
    position: absolute;
    bottom: -3.6rem;    
} */

/* .control-dots .selected{
    background-color:#7B68EE;
}

.control-dots .dot{
    background-color: #C4C4C4;
    opacity: 1;
    box-shadow: none;
} */
.carousel-status{
    display: none;
}

.picture-slider .control-arrow{
    color: #7B68EE;
    background-color: blue;
    position: absolute!important;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    top: 50%;

    margin-top: 70% !important;
    background-color: #2bbcba!important;
}

.control-next:before{
    position: absolute !important;
    top: 10px !important;
    left: 8px !important;
}

.question-picture-container{
    position: relative;
}

.control-prev{
    background-color: #fff !important; 
    opacity: 1 !important;
    position: absolute !important;
    left: 17px!important;
}

.control-arrow:before{
    position: absolute !important;
    top: 10px !important;
    left: 6px !important;
    width: 8px;
    height: 8px;
}

.control-next{
    background-color: #fff !important; 
    opacity: 1 !important;
    position: absolute !important;
    top: 100px;
    /* left: 0px; */
    right: 0px;
}

.MuiAutocomplete-hasPopupIcon.css-1f6lnmf-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1f6lnmf-MuiAutocomplete-root .MuiOutlinedInput-root{
    margin-top: 0px;
    height: 35px;
}

.MuiInputLabel-formControl {
    margin-top: -9px;
}

.css-1f6lnmf-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 7.5px 4px 7.5px 6px;
    margin-top: -10px;
}